<!-- Import Stylesheets -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
<!-- /Import Stylesheets -->

<!-- Import Scripts -->
<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
<!-- /Import Scripts -->
